<div class="col-md-8 page-container">

  <div id="form-title" class="row justify-content-center align-items-center">
    <h1>Address Validator</h1>
  </div>

  <div id="form-body" class="row justify-content-center align-items-center">
    <%= form_tag '/addresses', method: :post do %>
    <div class="row">
      <div class="col-md-6">
        <div id="locationField">
          <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
        </div>
      </div>
        <div class="col-md-6">
        <div class="row">
            <%= text_field_tag :house_number, nil, class: "field", id: "street_number", placeholder: "House Number", disabled: "true"%>
        </div>
        <div class="row">
          <%= text_field_tag :street_name, nil, class: "field", id: "route", placeholder: "Street Name", disabled: "true"%>
        </div>
        <div class="row">
          <%= text_field_tag :city, nil, class: "field", id: "locality", placeholder: "City", disabled: "true"%>
        </div>
        <div class="row">
          <%= text_field_tag :state, nil, class: "field", id: "administrative_area_level_1", placeholder: "State", disabled: "true"%>
        </div>
        <div class="row">
          <%= text_field_tag :zip_code, nil, class: "field", id: "postal_code", placeholder: "ZIP Code", disabled: "true"%>
        </div>
      </div>
</div>
      

      <div class="form-actions">
        <%= button_tag "Submit", id: "submit", class: "btn btn-lg btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBot8cACK5aXhcn17fJJ4oGklzMD1XKrYg&libraries=places&callback=initAutocomplete"
        async defer></script>